<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logomotorkawasaki"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SISTEMPAKARKAWASAKININJA"
        tools:targetApi="31">
        <activity
            android:name=".MainDiagnosaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.kerusakan7"
            android:exported="false" />
        <activity
            android:name=".activity.kerusakan6"
            android:exported="false" />
        <activity
            android:name=".activity.kerusakan5"
            android:exported="false" />
        <activity
            android:name=".activity.kerusakan4"
            android:exported="false" />
        <activity
            android:name=".activity.kerusakan3"
            android:exported="false" />
        <activity
            android:name=".activity.kerusakan2"
            android:exported="false" />
        <activity
            android:name=".activity.kerusakan1"
            android:exported="false" />
        <activity
            android:name=".KonsultasiAct"
            android:exported="false" />
        <activity
            android:name=".hasil_deteksi"
            android:exported="false" />
        <activity
            android:name=".activity.DataKerusakanActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>